.btn button {
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.4px;
    color: #000;
    padding: 12px 20px;
    border: none;
    border-radius: 16px;
    background-color: #fff;
    margin: 30px 0;
}