@import 'reset';
@import 'var';
@import 'mixins';
@import 'fonts';
@import 'btn';
@import 'nav';
@import 'marker';

.container {
    width: $width;
    margin: 0 auto;
    padding: 0 10px;

}


@import 'blocks/frame-one';
@import 'blocks/frame-two';
@import 'blocks/frame-three';
@import 'blocks/frame-four';

@import 'blocks/header';
@import 'blocks/footer';